<div class="container">
    <div class="perfil">
        <h1>Nombre: {{ UserInyec.usuario.nombre }}</h1>
        <h2>Apellido: {{ UserInyec.usuario.apellido }} </h2>
    </div>
    <button (click)="cambiarNombre()">Cambiar nombre</button>
</div>