<div class="container">
    <h2 *ngIf="esNuevo">Agregar</h2>
    <h2 *ngIf="!esNuevo">Editar</h2>
    <form [formGroup]="formularioArti">
        <div class="from-group">
            <label for="">Titulo</label>
            <input type="text" class="form-control" formControlName="title">
        </div>

        <div class="from-group">
            <label for="">Cuerpo</label>
            <input type="text" class="form-control" formControlName="body">
        </div>

        <div class="from-group">
            <label for="">Seleccione un autor</label>
            <select class="form-control" formControlName="userId">
                <option *ngFor="let user of usuarios" [value]="user.id">{{user.id}} - {{user.name}}</option>
            </select>
        </div>


        <div class="from-group">
            <button class="btn btn-primary" *ngIf="esNuevo" [disabled]="!formularioArti.valid" (click)="agregar()">Agregar</button>
            <button class="btn btn-success" *ngIf="!esNuevo" [disabled]="!formularioArti.valid" (click)="editar()">Editar</button>
        </div>

    </form>
</div>