<div class="container">
    <h1>{{ articulo.title }}</h1>
    <p>{{ articulo.body }}</p>
    <h4>{{usuario.name}}</h4>
    <h6>{{usuario.username}}</h6>
    <p>{{usuario.address.city}}, {{usuario.address.street}}</p>
    <!-- <p>{{ articulo.id}}</p>
    <h4>{{articulo.userId}}</h4> -->
</div>