<div class="container">
    <div class="articulo" *ngFor="let arti of articulos">
        <h4 (click)="irAlDetalle(arti)">ID: {{arti.id}} {{arti.title}}</h4>
        <h5>Descripción:</h5><span>{{arti.body}}</span><br>
        <button class="btn btn-danger" (click)="borrar(arti.id)">Borrar</button>
        <button class="btn btn-primary" (click)="actualizar(arti)">Actualizar</button>
    </div>

    <!-- <div class="articulo">
        <h4>Encabezado</h4>
        <p>Descripción</p>
        <p>Fecha</p>
    </div>

    <div class="articulo">
        <h4>Encabezado</h4>
        <p>Descripción</p>
        <p>Fecha</p>
    </div> -->
</div>